<p id="notice"><%= notice %></p>

<h1>Abouts</h1>

<h2>Description</h2>

<p>This is the Dota Blog that contains: Team,player, all heroes ,items and hero's abilities. Data was generated from Dota Gem API and Faker gem (for player ).</p>
<p>Each Team could has many players, player could play many heroes, each hero has many abilities and items.

<h2>ERD diagram</h2>
<%= image_tag("Capture.JPG", :alt => "ERD") %>
<br>


